*{
    box-sizing: border-box;
  }
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1,4;
    width: 1000gipx
    color: #6c0d0d;
    width: 1000;
    margin: 15;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(235, 182, 191);
    margin: 30 auto;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  html {
    scroll-behavior: smooth; 
  }
  .nav-list {
    list-style: none;
  }
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }
  .nav-link {
    transition: .3s;
  }
  .section {
    text-decoration: none;  
    transition: color 0.5s;
  }
<<<<<<< HEAD
    .section {
=======
  .section {
>>>>>>> 9da962e88a0afaf0ae8c4b9442f9d697a066173d
    width: 50%;
  }
  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
  .section {
    position: relative;
    padding-left: 30px;
  }
  .footer {
    color: blue;
    text-align: right;
  }
  #profile {
    text-align: center;
  }
   img {
    outline: 3px solid #a20d4b;
  }
